# Base variables
SECRET_KEY=****
DEBUG=True

# Email variables
EMAIL_HOST_USER=admin@example.com
EMAIL_HOST_PASSWORD=****

# Database variables
NAME=db_name
HOST=localhost
PORT=5432
DB_USER=postgres
PASSWORD=****
