# Base variables
SECRET_KEY=****
DEBUG=True
ALLOWED_HOSTS=127.0.0.1

# Email variables
EMAIL_HOST_USER=admin@example.com
EMAIL_HOST_PASSWORD=****

# Database variables
POSTGRES_DB=db_name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=****