{% block subject %}
❗️ Your DVI Account Is Now Protected
{% endblock subject %}

{% block text_body %}
Dear user,

Your DVI account has just been locked down at your request for security reasons.

What this means:
• Your previous password has been invalidated;
• Pending email address change (if any) has been canceled;
• All devices have been logged out;
• No one can access your account until you set a new password.

If you haven't reset your password yet, click on the link below to regain access:
{{ protocol }}://{{ domain }}/{{ password_reset_url|safe }}

Your account is now safe.

Sincerely, The DVI Team
{% endblock text_body %}

{% block html_body %}
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <table
            width="600"
            cellspacing="0"
            cellpadding="0"
            style="
              background-color: #ffffff;
              border: 1px solid #ddd;
              border-radius: 8px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              color: #444444;
              padding: 40px;
              text-align: left;
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              font-style: normal;
            "
          >
            <tr>
              <td>
                <hr
                  style="
                    border: 0;
                    border-top: 1px solid #ddd;
                    margin-top: 20px;
                  "
                />
                <h2 style="text-align: center; color: #333333">
                  Account Lockdown Notice
                </h2>

                <p style="margin-top: 35px">Dear user,</p>

                <p style="margin-top: 0">
                  Your <strong>DVI</strong> account has just been locked
                  down at your request for security reasons.
                </p>

                <p style="margin-top: 0">
                    What this means:
                    <ul>
                      <li>Your previous password has been invalidated;</li>
                      <li>Pending email address change (if any) has been canceled;</li>
                      <li>All devices have been logged out;</li>
                      <li>No one can access your account until you set a new password.</li>
                    </ul>
                  </p>

                <p>
                  If you haven't reset your password yet, click on the button
                  below to regain access:
                </p>
                <p style="margin: 35px 0 35px 0; text-align: center">
                  <a
                    href="{{ protocol }}://{{ domain }}/{{ password_reset_url|safe }}"
                    style="
                      background-color: #007bff;
                      color: #ffffff;
                      padding: 10px 24px;
                      text-decoration: none;
                      border-radius: 6px;
                      font-weight: bold;
                    "
                    >Reset Password</a
                  >
                </p>

                <p>Your account is now safe.</p>

                <p style="margin-top: 35px">Sincerely,<br />The DVI Team</p>
                <hr
                  style="
                    border: 0;
                    border-top: 1px solid #ddd;
                    margin-top: 20px;
                  "
                />
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding-top: 20px;
                  text-align: center;
                  color: #666666;
                  font-size: 13px;
                "
              >
                &copy; 2025 DVI. All rights reserved.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
{% endblock html_body %}
