{% block subject %}
Verify Your Email Address for DVI
{% endblock subject %}

{% block text_body%}
Hi,

Thanks for signing up to DVI!

Please use the following code to verify your email address: {{ otp }}.

Didn't make this request? No problem, you can safely ignore this email.

Sincerely, The DVI Team
{% endblock text_body %}

{% block html_body %}
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <table
            width="600"
            cellspacing="0"
            cellpadding="0"
            style="
              background-color: #ffffff;
              border: 1px solid #ddd;
              border-radius: 8px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              color: #444444;
              padding: 40px;
              text-align: left;
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              font-style: normal;
            "
          >
            <tr>
              <td>
                <hr
                  style="
                    border: 0;
                    border-top: 1px solid #ddd;
                    margin-top: 20px;
                  "
                />
                <h2 style="text-align: center; color: #333333">
                  Email Address Verification
                </h2>

                <p style="margin-top: 35px">Hi,</p>

                <p style="margin-top: 0">
                  Thanks for signing up to <strong>DVI</strong>! Please use 
                  the code below to verify your email address:
                </p>
                <p style="margin: 35px 0 35px 0; text-align: center">
                  <span style="font-size: x-large">{{ otp }}</span>
                </p>

                <p>
                  Didn't make this request? No problem, you can safely ignore this email.
                </p>

                <p style="margin-top: 35px">Sincerely,<br />The DVI Team</p>
                <hr
                  style="
                    border: 0;
                    border-top: 1px solid #ddd;
                    margin-top: 20px;
                  "
                />
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding-top: 20px;
                  text-align: center;
                  color: #666666;
                  font-size: 13px;
                "
              >
                &copy; 2025 DVI. All rights reserved.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
{% endblock html_body %}
