{% block subject %}
Confirm Your New Email Address for DVI
{% endblock subject %}

{% block text_body%}
Hi,

We received a request to change the email address on your DVI account to {{ user.pending_email }}.

To confirm this change, click on the link below:
{{ protocol }}://{{ domain }}/{{ confirm_email_url|safe }}

Didn't make this request? No problem, you can safely ignore this email.

Sincerely, The DVI Team
{% endblock text_body %}

{% block html_body %}
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <table
            width="600"
            cellspacing="0"
            cellpadding="0"
            style="
              background-color: #ffffff;
              border: 1px solid #ddd;
              border-radius: 8px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              color: #444444;
              padding: 40px;
              text-align: left;
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              font-style: normal;
            "
          >
            <tr>
              <td>
                <hr
                  style="
                    border: 0;
                    border-top: 1px solid #ddd;
                    margin-top: 20px;
                  "
                />
                <h2 style="text-align: center; color: #333333">
                  New Email Address Confirmation
                </h2>

                <p style="margin-top: 35px">Hi,</p>

                <p style="margin-top: 0">
                  We received a request to change the email address on your
                  <strong>DVI</strong> account to
                  <strong>{{ user.pending_email }}</strong>.
                </p>

                <p>To confirm this change, click on the button below:</p>
                <p style="margin: 35px 0 35px 0; text-align: center">
                  <a
                    href="{{ protocol }}://{{ domain }}/{{ confirm_email_url|safe }}"
                    style="
                      background-color: #007bff;
                      color: #ffffff;
                      padding: 10px 24px;
                      text-decoration: none;
                      border-radius: 6px;
                      font-weight: bold;
                    "
                    >Change Email Address</a
                  >
                </p>

                <p>
                  Didn't make this request? No problem, you can safely ignore
                  this email.
                </p>

                <p style="margin-top: 35px">Sincerely,<br />The DVI Team</p>
                <hr
                  style="
                    border: 0;
                    border-top: 1px solid #ddd;
                    margin-top: 20px;
                  "
                />
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding-top: 20px;
                  text-align: center;
                  color: #666666;
                  font-size: 13px;
                "
              >
                &copy; 2025 DVI. All rights reserved.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
{% endblock html_body %}
