{% block subject %}
Email Address Changed for Your DVI Account
{% endblock subject %}

{% block text_body%}
Dear user,

The email address on your DVI account has been successfully changed to {{ user.email }}.

You're all set!

Sincerely, The DVI Team
{% endblock text_body %}

{% block html_body %}
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <table
            width="100%"
            max-width="480"
            cellspacing="0"
            cellpadding="0"
            style="color: #888; padding: 90px 30px; text-align: left"
          >
            <tr>
              <td>
                <h2
                  style="
                    margin: 0;
                    text-align: center;
                    font-weight: 700;
                    color: #008700;
                  "
                >
                  EMAIL CHANGED
                </h2>

                <p style="margin: 30px 0 10px; font-size: 15px">Dear user,</p>

                <p style="margin: 15px 0 10px; font-size: 15px">
                  The email address on your <strong>DVI</strong> account has
                  been successfully changed to
                  <strong>{{ user.email }}</strong>.
                </p>

                <p style="margin-top: 0; font-size: 15px">You're all set!</p>

                <p style="margin: 45px 0 0; font-size: 15px">
                  Sincerely,<br />
                  The DVI Team
                </p>

                <hr
                  style="
                    border: 0;
                    border-top: 1px solid #ddd;
                    margin: 20px 0 20px;
                  "
                />

                <p
                  style="
                    margin: 0;
                    text-align: center;
                    font-size: 13px;
                    color: #aaaaaa;
                  "
                >
                  &copy; 2026 DVI
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
{% endblock html_body %}
