{% block subject %}
Reset Your DVI Account Password
{% endblock subject %}

{% block text_body%}
Dear user,

We received a request to reset the password on your DVI account.

Use the following code to set a new password: {{ otp }}.

Didn't make this request? No problem, you can safely ignore this email — no changes
have been made.

Sincerely, The DVI Team
{% endblock text_body %}

{% block html_body %}
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <table
            width="100%"
            max-width="480"
            cellspacing="0"
            cellpadding="0"
            style="color: #888; padding: 60px 30px; text-align: left"
          >
            <tr>
              <td>
                <h2
                  style="
                    margin: 0;
                    text-align: center;
                    font-weight: 700;
                    color: #008700;
                  "
                >
                  PASSWORD RESET
                </h2>

                <p style="margin: 30px 0 10px; font-size: 15px">Dear user,</p>

                <p style="margin: 15px 0 10px; font-size: 15px">
                  We received a request to reset the password on your
                  <strong>DVI</strong> account.
                </p>

                <p style="font-size: 15px">To set a new password, use the code below:</p>

                <div
                  style="
                    background: #17171714;
                    border-radius: 4px;
                    padding: 15px 0 15px 0;
                    margin: 30px auto;
                    max-width: 320px;
                    font-size: 22px;
                    font-weight: 700;
                    letter-spacing: 8px;
                    color: #008700;
                    text-align: center;
                  "
                >
                  {{ otp }}
                </div>

                <p style="margin: 30px 0 0; font-size: 15px">
                  Didn't request this? You can safely ignore this email.
                </p>

                <p style="margin: 45px 0 0; font-size: 15px">
                  Sincerely,<br />
                  The DVI Team
                </p>

                <hr
                  style="
                    border: 0;
                    border-top: 1px solid #ddd;
                    margin: 20px 0 20px;
                  "
                />

                <p
                  style="
                    margin: 0;
                    text-align: center;
                    font-size: 13px;
                    color: #aaaaaa;
                  "
                >
                  &copy; 2026 DVI
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
{% endblock html_body %}
